<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDB0RYLZeihgLyIWMyht7J1_PFPYOrqxk8</string>
	<key>GCM_SENDER_ID</key>
	<string>580039848438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.calificacionesseries</string>
	<key>PROJECT_ID</key>
	<string>final-f74bb</string>
	<key>STORAGE_BUCKET</key>
	<string>final-f74bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580039848438:ios:56cfacaed4f6391d0097d7</string>
</dict>
</plist>